/* similar to tachyons .dim but without transition */
.rez-dim {
  opacity: 1;
  &:active {
    opacity:.8
  }
  &:hover {
    opacity:.5
  }
}

.rez-weak-dim {
  opacity: 1;
  &:active, &:hover {
    opacity:.85
  }
}
