input[type=range].rez-gain-volume {
  -webkit-appearance: none;
  width: 100%;
  margin: -0.8px 0;
}
input[type=range].rez-gain-volume:focus {
  outline: none;
}
input[type=range].rez-gain-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 23.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(39, 107, 79, 0.69);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].rez-gain-volume::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.4px solid rgba(0, 0, 0, 0.4);
  height: 22px;
  width: 42px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.8px;
}
input[type=range].rez-gain-volume:focus::-webkit-slider-runnable-track {
  background: rgba(39, 107, 79, 0.69);
}
input[type=range].rez-gain-volume::-moz-range-track {
  width: 100%;
  height: 23.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(39, 107, 79, 0.69);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].rez-gain-volume::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.4px solid rgba(0, 0, 0, 0.4);
  height: 22px;
  width: 42px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].rez-gain-volume::-ms-track {
  width: 100%;
  height: 23.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].rez-gain-volume::-ms-fill-lower {
  background: rgba(39, 107, 79, 0.69);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].rez-gain-volume::-ms-fill-upper {
  background: rgba(39, 107, 79, 0.69);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].rez-gain-volume::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0.4px solid rgba(0, 0, 0, 0.4);
  width: 42px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 22px;
}
input[type=range].rez-gain-volume:focus::-ms-fill-lower {
  background: rgba(39, 107, 79, 0.69);
}
input[type=range].rez-gain-volume:focus::-ms-fill-upper {
  background: rgba(39, 107, 79, 0.69);
}
